# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual env
venv/
.env/
.env
# Model checkpoints
*.h5
*.ckpt

# Dataset
data/
archive/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Kaggle
.kaggle/

# Cache
.cache/
